
  
    <!-- Load scripts at bottoom of page -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="bower_components/js/site.js"></script>
  </body>
</html>
